ul{
	list-style-type: none;
	margin:0px;
	padding-left: 0px;
}

li{
	display:inline-block;
}

a{
	text-decoration: none;
	color:#000;
}

body{
	margin:0px;
	background: #e5e5e5;
	font-family: "Roboto",Arial,sans-serif;
	color: #000;
	margin: 0px;
}

header{
	position:relative;
	width:100%;
	height: 60px;
	background: #f1f1f1;
}

#logo_container{
	float:left;
	padding-left:30px;
	padding-right:30px;
	width:183px;
	height:60px;
}

#logo{
	position:absolute;
	top:10px;
	width:183px;
	height:39px;
	background-image:url('https://www.gstatic.com/android/market_images/web/play_logo_x2.png');	
	background-size:183px 39px;
	display:block;
}

#search {
	min-width:200px;
	height: 60px;
	margin-left: 243px;
	margin-right: 330px;
}

#user{
	float: right;
	min-width:270px;
	height:60px;
	padding-left:30px;
	padding-right: 30px;
}

#main_nav{
	float:left;
	width: 200px;
	height: 240px;
	background-color: #f1f1f1;
	z-index:10;
}

#sub_nav{
	width:100%;
	height: 48px;
	background-color: #fff;
}

#container{
	position:relative;
	right:0px;
}

.section{
	position:relative;
	margin-left: 0px;
	right:0px;
	padding-top:20px;
	margin-bottom:15px;
}

.section_header{
	position:relative;
	margin-left:248px;
	margin-right:50px;
	font-weight: 100;
	font-size:28px;
	overflow: hidden;
}

.section_subtitle{
	font-size: 16px;
	display: block;
}

a.more_button{
	position:absolute;
	right: 15px;
	bottom: 5px;
	margin-top: 5px;
	display:inline-block;
	background-color: #1aa1e1;
	padding:5px 13px 5px 13px;
	border-radius:2px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	width: 50px;
	height:20px;
	text-decoration: none;
	color:#fff;
	line-height: 20px;
	vertical-align:middle;
}


.books_container{
	margin-left:248px;
	margin-right: 50px;
}

.books_container ul li, .cover_container{
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.books_container ul li{
	margin-right:10px;
	width: 160px;
	height: 330px;
	margin: 5px 4px 5px 0px;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px 0px;
}

.books_container ul li a{
	width: 160px;
	height: 245px;
}

.cover_container{
	width: 160px;
	height: 245px;
	line-height:245px;
	text-align:center;
	background-color: rgb(245, 245, 245);
}

.cover_container img{
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}

.details{
	position:relative;
	width:140px;
	height:75px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 5px 10px 5px 10px;
}

.booktitle{
	color: #333;
	display:block;
	font-size: 16px;
	line-height: 17px;
	max-height: 17px;
	overflow: hidden;
	white-space: nowrap;
}

.paragraph_end{
	position:absolute;
	top:5px;
	right:0px;
	display:block;
	width:45px;
	height: 17px;
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}